/**
 * @fitxer styles.css
 * @descripció Estils principals de la visualització de la PR2
 * @autor Francisco Garcia Caparrós
 * @versió 1
 *
 * Contingut:
 *  - Disseny general del layout
 *  - Estils del gràfic D3
 *  - Sliders verticals
 *  - Caixa d’avís (warning box)
 */

/* Estil principal de la pàgina*/
body {
    font-family: Arial, sans-serif;
    background: #cedae8;
    display: flex;
    color: #1f2d3a;
}

/* Estil del gràfic i el seu contenidor*/
#chartWrapper {
    position: relative;
    width: 100%;
    max-width: 1024px;
    margin: 30px auto 0 auto;
    right: 200px;
}


#chart {
    width: 1024px;
    height: 600px;
    margin-top: 100px;
    position: relative;
}

svg text {
    fill: #1f2d3a;
}

#chart svg {
    width: 100%;
    height: 100%;
}

/*Grandària de les etiquetes dels eixos*/
.x-label {
    font-size: 14px;
}

.y-label {
    font-size: 14px;
}



/*Estil del títol de la pàgina*/
#graphTitle {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    display: block;
}

/*Estil dels indicadors de morts*/

#europeIndicators {
    position: absolute;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    font-size: 13px;
}

.indicator {
    display: flex;
    gap: 6px;
}

.indicator-label {
    font-weight: bold;
}

/*Títol dels filtres*/
#filtersTitle {
    position: absolute;
    top: 10px;
    left: 1150px;
    font-size: 20px;
    font-weight: bold;
    color: #1f2d3a;
}

/* Estils dels filtre de contaminant i PIB*/
#basicFilters {
    display: flex;
    position: absolute;
    margin-left: 1260px;
    top: 50px;
}

/* Estils relacionats amb l'slider d'any*/
#yearControl {
    display: flex;
    align-items: center;
    gap: 12px;
    position: relative;
    width: 100%;
    justify-content: center;
}

#yearDisplay {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
}

#yearSliderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1000px;
}

#yearSlider {
    -webkit-appearance: none;
    appearance: none;
    width: 50%;
    height: 6px;
    background: #9c9da6;
    border-radius: 4px;
    outline: none;
    display: flex;
}

/*Chrome*/
#yearSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: dimgray;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -1px;
}

/*Firefox*/
#yearSlider::-moz-range-thumb {
    background: dimgray;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

/*Estils relacionats amb l'slider del PIB i contaminants*/

#pibSliderContainer {
    position: absolute;
    top: 50px;
    right: -160px;
    height: 300px;
    width: 220px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

/*Estils comuns de les etiquetes del PIB i contaminants*/

#pibLabels, #pollutantLabels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    width: 80px;
}

.pibLabel, .pollutantLabel {
    font-size: 14px;
    text-align: left;
}

/*Estil de títols veticals del PIB i contaminants*/
.vertical-slider-title {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
    font-size: 14px;
    color: #333;
    user-select: none;
    font-weight: bold;
}

/*Estils de l'slider del PIB*/
#pibSlider {
    writing-mode: vertical-lr;
    display: flex;
    -webkit-appearance: none;
    width: 6px;
    height: 300px;
    direction: rtl;
    background: transparent;
}

/*Punt de l'slider (Chrome)*/
#pibSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #7c7d80;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

/*Punt de l'slider (Firefox)*/
#pibSlider::-moz-range-thumb {
    background: dimgray;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: none;
}


/* Estils relacionats amb l'slider dels contaminants*/
#pollutantSliderContainer {
    position: absolute;
    top: 50px;
    right: -10px;
    height: 300px;
    width: 220px;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    display: flex;
}

#pollutantSlider {
    writing-mode: vertical-lr;
    -webkit-appearance: none;
    appearance: none;
    width: 6px;
    height: 300px;
    direction: rtl;
    background: #9c9da6;
    border-radius: 4px;
}

/*Chrome*/
#pollutantSlider::-webkit-slider-runnable-track {
    background: transparent;
    border: none;
}

/*Firefox*/
#pollutantSlider::-moz-range-track {
    background: transparent;
}

/*Chrome*/
#pollutantSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: dimgray;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

/*Firefox*/
#pollutantSlider::-moz-range-thumb {
    background: dimgray;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: none;
}


/*Estils del tooltip*/
.tooltip {
    position: absolute;
    background: white;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.15s ease;
    font-size: 12px;
    color: #333;
}


/*Estils per ocultar objectes*/
.hide-thumb::-webkit-slider-thumb {
    opacity: 0;
}

.hide-thumb::-moz-range-thumb {
    opacity: 0;
}


/*Estils de l'slider del canvi de Contaminants a PIB*/
#xModeSliderContainer {
    width: 900px;
    margin: 0 auto 20px auto;
    text-align: center;
    display: block;
}

#xModeSlider {
    -webkit-appearance: none;
    appearance: none;
    width: 450px;
    height: 6px;
    background: #9c9da6;
    border-radius: 4px;
    outline: none;
}

/*Punt de l'slider (Chrome)*/
#xModeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: dimgray;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 1px;
}

/*Punt de l'slider (Firefox)*/
#xModeSlider::-moz-range-thumb {
    background: dimgray;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

/*Etiquetes*/
#xModeLabels {
    display: flex;
    justify-content: space-between;
    width: 450px;
    margin: 5px auto 0 auto;
    font-size: 14px;
    font-weight: bold;
}

/*Estil del botó de reproducció*/
#playButton {
    width: 36px;
    height: 36px;
    justify-content: center;
    align-items: center;
    background: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    padding: 0;
    display: flex;
}

#playButton svg {
    width: 20px;
    height: 20px;
}

#playPauseIcon {
    width: 40px;
    height: 40px;
    fill: #333;
}

/* Estils dels filtres d'edat, malaltia i gènere*/
#demographicFilters {
    align-items: center;
    position: absolute;
    margin-left: 1050px;
    top: 450px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}


#demographicTopRow {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

/*Estils dels títols dels sliders l'edat i malaltia*/
.filter-title-age,
.filter-title-disease {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
    font-size: 14px;
    color: #333;
    user-select: none;
    font-weight: bold;
}

/*Estil del títol de l'slider de gènere*/
.filter-title-sex {
    text-align: center;
    font-size: 14px;
    color: #333;
    user-select: none;
    font-weight: bold;
}

/*Slider de gènere*/
#sexSlider {
    -webkit-appearance: none;
    appearance: none;
    width: 200px;
    height: 6px;
    background: #9c9da6;
    border-radius: 4px;
}

/*Estil dels contenidors dels sliders de malaltia i edat*/
.mode-slider {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 12px;
    width: 100px;
}


/*Etiquetes dels contenidors dels sliders de malaltia i edat*/
.mode-labels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    font-size: 13px;
}


/*Punt de l'slider de gènere (Chrome)*/
#sexSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: dimgray;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

/*Punt de l'slider de gènere (Firefox)*/
#sexSlider::-moz-range-thumb {
    background: dimgray;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: none;
}

/*Etiquetes de sexe*/
#sex-labels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
    gap: 30px;
    margin-top: 6px;
}

#diseaseBlock{
    width:200px;
}

/*Estils dels contenidors d'edat i malaltia*/
#ageBlock,
#diseaseBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

/*Estils de les etiquetes d'edat*/
#ageBlock .mode-labels {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 31px;
    height: 250px;
    text-align: left;
}

/*Estils de les etiquetes de malaltia*/
#diseaseBlock .mode-labels {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
    height: 250px;
    text-align: left;
}

/*Slider d'edat*/
#ageSlider {
    writing-mode: vertical-lr;
    -webkit-appearance: none;
    appearance: none;
    width: 6px;
    height: 250px;
    background: #9c9da6;
    border-radius: 4px;
}

/*Punt de l'slider d'edat (Chrome)*/
#ageSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: dimgray;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

/*Punt de l'slider d'edat (Firefox)*/
#ageSlider::-moz-range-thumb {
    background: dimgray;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: none;
}

/*Slider de malaltia*/
#diseaseSlider {
    writing-mode: vertical-lr;
    -webkit-appearance: none;
    appearance: none;
    width: 6px;
    height: 250px;
    background: #9c9da6;
    border-radius: 4px;
}

/*Punt de l'slider de malaltia (Chrome)*/
#diseaseSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: dimgray;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

/*Punt de l'slider de malaltia (Firefox)*/
#diseaseSlider::-moz-range-thumb {
    background: dimgray;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: none;
}

#sexBlock{
    margin-right:100px;
}

/*Estils pels punts del gràfic que han de destacar*/

/*Estils relacionats amb els punts que destacaran*/
.highlighted-point {
    stroke: #cc5500;
    stroke-width: 2px;
    r: 7;
}

@keyframes blink {
    0%   { opacity: 1; }
    50%  { opacity: 0.2; }
    100% { opacity: 1; }
}

.highlighted-point {
    animation:
            blink 1.2s infinite ease-in-out 0.6s;
}